<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>
<body>
<%- include('header.ejs') %>

<p class="text-muted"><a href="/" class="text-muted" >Home</a><a href="aboutus" class="text-muted"> / About us</a></p>

<div class="container" style="margin-left:300px;margin-right:400px;">
    <h3 class="ml:auto mr:auto">About company</h3>
    <br>
    <p><i><strong>Online store "Loft" - the best products at low prices!</strong></i></p>
    <p><i>We are pleased to offer you inexpensive, but high-quality products with detailed descriptions, characteristics and photographs. Here you can buy wonderful goods: appliances, electronics, clothes, shoes, toys, books and much more in your region at producer prices and without extra charge.</i></p>
    <p><i>  Sale of a wide range of various goods is the main specialization of our online store. We will deliver your order free of charge to any corner of the world, provide detailed advice on products and help with the choice.</i></p>
    <p><i>Shop "Loft" offers you to buy high-quality and affordable appliances, electronics, clothes, shoes, toys, books and much more with delivery! All types of modern goods from economy class to more expensive ones are presented in our catalog.</i></p>
    <p><i>You can buy any goods in your city: appliances, electronics, clothes, shoes, toys, books and much more.</i></p>
    <br>
    <p><strong><i>Our main advantages:</i></strong></p>
    <ul>
        <li><p><i>Low prices from manufacturers</i></p></li>
        <li><p><i>Local delivery on the day of order</i></p></li>
        <li><p><i>Delivery of orders by Mail throughout the country in 5-15 days</i></p></li>
        <li><p><i>Only original and certified products</i></p></li>
        <li><p><i>All products are guaranteed for 5 years!</i></p></li>
        <li><p><i>Didn't like the product? We will return or exchange within 14 days without any extra paperwork!</i></p></li>
        <li><p><i>Bonuses and discounts for regular customers</i></p></li>
    </ul>
</div>


<%- include('footer.ejs')%>
</body>
</html>
