<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>
<body>
<%- include('header.ejs') %>

<p class="text-muted"><a href="/" class="text-muted" >Home</a><a href="cart" class="text-muted"> / Cart</a></p>

<div class="container" style="margin-left:300px;margin-right:400px;">
    <h3 class="ml:auto mr:auto">Cart</h3>
    <br>
            <p>Your cart is empty</p>


</div>
<%- include('footer.ejs')%>
</body>
</html>
