<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>
<body>
<%- include('header.ejs') %>

<div class="container-fluid">
    <div style="margin-left:auto;margin-right:auto; margin-top:50px;">
        <form action="/user/email?_method=PATCH" class="needs-validation" novalidate method="post">
            <div class="row g-3">
                <div class="col-sm-6">
                    <label for="oldPassword" class="form-label">Current Password</label>
                    <input type="text" class="form-control" name="oldPassword" id="oldPassword" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Valid password is required.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="newPassword" class="form-label">New Password</label>
                    <input type="text" class="form-control" name="newPassword" id="newPassword" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Valid newPassword name is required.
                    </div>
                </div>
            </div>

            <hr class="my-4">
            <div class="row g-3">
                <div class="col-sm-6">
                    <label for="oldEmail" class="form-label">Current Email</label>
                    <input type="text" class="form-control" name="oldEmail" id="oldEmail" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Valid email is required.
                    </div>
                </div>
            </div>
            <hr class="my-4">
            <button class="w-100 btn btn-lg" style="background-color: #DAB88B" type="submit">Update</button>
        </form>

    </div>

</div>



<%- include('footer.ejs')%>

</body>
</html>
