<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>
<body>
<%- include('header.ejs') %>

<p class="text-muted"><a href="/" class="text-muted" >Home</a><a href="compare" class="text-muted"> / Compare</a></p>
<div class="container" style="margin-left:300px;margin-right:400px;">
    <h3 class="ml:auto mr:auto">Compare</h3>
    <br>
    <p>Here you can add items you want to compare</p>
</div>



<%- include('footer.ejs')%>
</body>
</html>
