<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>
<body>
<%- include('header.ejs') %>

<p class="text-muted"><a href="/" class="text-muted" >Home</a><a href="contacts" class="text-muted"> / Contacts</a></p>

<div class="container" style="margin-left:300px;margin-right:400px;">
    <h3 class="ml:auto mr:auto">Contacts</h3>
    <br>
    <p>You can find us at: Nur-Sultan, st. Trading, house 123, office 456</p>
    <p>Sales department phone: 8-777-777-77-77 (multichannel)</p>
    <p>Wholesale department phone: 8-777-777-77-77</p>
    <p>Email: sales@loft.ru</p>
    <br>
    <p><strong>Office and warehouse opening hours:</strong></p>
    <p>Monday	from 9:00 to 21:00</p>
    <p>Tuesday	from 9:00 to 21:00</p>
    <p>Wednesday	from 9:00 to 21:00</p>
    <p>Thursday	from 9:00 to 21:00</p>
    <p>Friday	from 9:00 to 21:00</p>
    <p>Saturday	from 10:00 to 20:00</p>
    <p>Sunday	from 10:00 to 20:00</p>
    <p>Orders through the site are accepted around the clock!</p>
    <br>
    <p><strong>Requisites:</strong></p>
    <p>IP Ivanov Ivan Ivanovich</p>
    <p>OGRNIP: 123456789012345</p>
    <p>TIN: 123456789012</p>
    <p>Gearbox: 123456789</p>
</div>




<%- include('footer.ejs')%>
</body>
</html>
