<div class="container-fluid ml-10 mr-10 mt-20" style="margin-top: 50px;
      padding-left: 0px;
        padding-right: 0px;">
    <footer class="py-5" style="padding-left:100px;">
        <img  src="https://static.insales-cdn.com/files/1/8002/16777026/original/Frame_a59e4a54556dccaceefb1b7c17d4ae67.svg" style="margin-bottom: 40px;" alt="">
        <div class="row mt-100">
            <div class="col-2">
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class=" p-0 text-muted">Shipping and payment</a></li>
                    <li class="nav-item mb-2"><a href="#" class=" p-0 text-muted">Pickup points</a></li>
                    <li class="nav-item mb-2"><a href="#" class=" p-0 text-muted">The shops</a></li>
                    <li class="nav-item mb-2"><a href="#" class=" p-0 text-muted">Return of goods</a></li>
                </ul>
            </div>

            <div class="col-2">
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class=" p-0 text-muted">To corporative clients</a></li>
                    <li class="nav-item mb-2"><a href="#" class=" p-0 text-muted">Service center</a></li>
                    <li class="nav-item mb-2"><a href="#" class=" p-0 text-muted">Suppliers</a></li>
                    <li class="nav-item mb-2"><a href="#" class=" p-0 text-muted">Support</a></li>
                </ul>
            </div>

            <div class="col-2">
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class=" p-0 text-muted">Services</a></li>
                    <li class="nav-item mb-2"><a href="#" class=" p-0 text-muted">Gift card</a></li>
                    <li class="nav-item mb-2"><a href="#" class=" p-0 text-muted">Articles</a></li>
                </ul>
            </div>

        </div>

        <div class="d-flex justify-content-between py-4 my-4 border-top">
            <p>© 2021 Company, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
            </ul>
        </div>
    </footer>
</div>
