<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>
<body>
<% if (!isSaved) {%>
<%} else {%>
    <%-include('alert.ejs')%>
<%} %>
<%- include('header.ejs') %>


<div class="container-fluid">
    <div style="margin-left:auto;margin-right:auto; margin-top:50px;">
        <form style="margin-left:auto;margin-right:auto;width:1000px;" action="user//user/login" method="POST">
            <div class="form-group">
                <label for="email"><h4>Email address</h4></label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="username">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="password"><h4>Password</h4></label>
                <input type="password" class="form-control" id="password" name="password">
            </div>

            <div class="row">
                <button type="submit" class="btn" style="background-color:#DAB88B;margin-right:20px;">Log in</button>
                <h5 style="color:#DAB88B;margin-right:20px;margin-top:10px;background-color:#FDF6EC;">Restore password</h5>
                <a href="/register" style="color:#DAB88B;"><h5 style="color:#DAB88B;margin-top:10px;background-color:#FDF6EC;">Register</h5></a>
            </div>


        </form>

        <div style="text-align:center; width:100%">
            <a href="/auth/google">
                <button type="submit" style="width: 70%; padding: 10px; margin: 40px; background-color: cornflowerblue">
                    <div style="color: whitesmoke; font-size: 1.3rem">
                        <i class="fab fa-google"></i>
                        Sign Up with Google
                    </div>
                </button>
            </a>
        </div>
    </div>

</div>



<%- include('footer.ejs')%>
</body>
</html>
