<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>
<body>
<%- include('header.ejs') %>

<div class="container-fluid">
    <form  style="padding-left:100px;padding-right:100px;margin-top:50px;" method="post" action="user//user/register">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="username">Email</label>
                <input type="email" id="username" name="username" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" id="address" class="form-control" placeholder="1234 Main St" name="address">
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" name="city">
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn" style="background-color:#DAB88B;margin-right:20px;">Register</button>
            <a href="/login" style="color:#DAB88B;"><h5 style="color:#DAB88B;margin-top:10px;background-color:#FDF6EC;">Login</h5></a>
        </div>
    </form>
</div>

    <!--Google auth-->
<div style="text-align:center; width:100%">
    <a href="/auth/google">
        <button type="button" style="width: 70%; padding: 10px; margin: 40px; background-color: cornflowerblue">
            <div style="color: whitesmoke; font-size: 1.3rem">
            <i class="fab fa-google"></i>
                Sign Up with Google
            </div>
        </button>
    </a>
</div>



<%- include('footer.ejs')%>
</body>
</html>
