a{
    color:black;
}
.dropdown-menu {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
    margin-top:0px !important;
    width:100% !important;
}
.dropdown {
    position:static !important;
}
.nav-link{
    font-size: 1.2rem;
}
.card-text{
    font-weight: bold;
}
.card-title{
    font-weight: lighter;
}
.row.row-cols-1.row-cols-md-5.g-4{
    margin-top:70px;
}
.tab-content{
    margin-left: 100px;
    margin-right: 100px;
}
.nav.nav-tabs{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}
.nav-link{
    background-color: #DAB88B
}
footer{
    background-color: #F7F7F7;
}
